openapi: 3.2.0
info:
  title: Dryad Reports API
  description: Dryad's REST API allows detailed interaction and programmatic interfacing with Dryad contents.
  version: 2.1.0
servers:
- url: https://datadryad.org/api/v2
  description: Main Dryad server
- url: https://sandbox.datadryad.org/api/v2
  description: Sandbox server, for testing new features.
tags:
- name: Reports
  description: Reports on content in Dryad
paths:
  /reports:
    get:
      summary: Get a list of reports that are updated regularly
      tags:
      - Reports
      responses:
        '200':
          description: A list of reports URLs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reports'
        '406':
          $ref: '#/components/responses/Unacceptable'
      operationId: getReports
      x-operation-id-source: derived
  /reports/{name}:
    get:
      summary: Get a particular report
      tags:
      - Reports
      parameters:
      - in: path
        name: name
        schema:
          type: string
        required: true
        description: The name of a report.
      responses:
        '200':
          description: A report (CSV download)
          examples: null
          content:
            text/csv:
              schema:
                type: string
        '406':
          $ref: '#/components/responses/Unacceptable'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: Unable to render report file.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: Could not find requested report {name}.
      operationId: getReportsByName
      x-operation-id-source: derived
components:
  schemas:
    hal_link:
      type: object
      properties:
        href:
          type: string
          format: uri
      required:
      - href
    reports:
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/hal_link'
            reports:
              type: array
              items:
                $ref: '#/components/schemas/hal_link'
            curies:
              type: array
              items:
                $ref: '#/components/schemas/hal_curie'
    hal_curie:
      type: object
      properties:
        name:
          type: string
        href:
          type: string
          format: uri
        templated:
          type: boolean
      required:
      - name
      - href
      - templated
    Error:
      type: object
      properties:
        error:
          type: string
  responses:
    Unacceptable:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: '406 - unacceptable: please set your `Content-Type` or `Accept` headers for application/json. `Accept` header is optional if you are using `Content-Type: application/json`.'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
