openapi: 3.2.0
info:
  title: Dryad Root API
  description: Dryad's REST API allows detailed interaction and programmatic interfacing with Dryad contents.
  version: 2.1.0
servers:
- url: https://datadryad.org/api/v2
  description: Main Dryad server
- url: https://sandbox.datadryad.org/api/v2
  description: Sandbox server, for testing new features.
tags:
- name: Root
  description: Root-level API calls
paths:
  /:
    get:
      summary: The root of the API
      tags:
      - Root
      description: Displays links to root level API objects, like the list of datasets.
      responses:
        '200':
          description: The root of the API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/root_links'
              examples:
                success:
                  $ref: api/v2/docs/examples/root.json
        '406':
          $ref: '#/components/responses/Unacceptable'
      operationId: getRoot
      x-operation-id-source: derived
  /test:
    get:
      security:
      - bearerAuth: []
      summary: Test OAuth2 and bearer authentication
      tags:
      - Root
      description: 'Test your API account authentication by sending authenticated headers: `Accept: application/json`, `Content-Type: application/json`, `Authorization: Bearer {your-token}`.


        `Accept` header is optional if you are using `Content-Type: application/json`.'
      responses:
        '200':
          description: Shows a welcome message if successful.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Welcome Brenda Ngrulu
                  user_id:
                    type: integer
                    example: 10
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: getTest
      x-operation-id-source: derived
components:
  schemas:
    hal_link:
      type: object
      properties:
        href:
          type: string
          format: uri
      required:
      - href
    hal_curie:
      type: object
      properties:
        name:
          type: string
        href:
          type: string
          format: uri
        templated:
          type: boolean
      required:
      - name
      - href
      - templated
    root_links:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/hal_link'
        stash:datasets:
          $ref: '#/components/schemas/hal_link'
        reports:
          $ref: '#/components/schemas/hal_link'
        curies:
          type: array
          items:
            $ref: '#/components/schemas/hal_curie'
      required:
      - self
    Error:
      type: object
      properties:
        error:
          type: string
  responses:
    Unacceptable:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: '406 - unacceptable: please set your `Content-Type` or `Accept` headers for application/json. `Accept` header is optional if you are using `Content-Type: application/json`.'
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Unauthorized, must have current bearer token.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
