openapi: 3.2.0
info:
  title: Dryad Internal API
  description: Dryad's REST API allows detailed interaction and programmatic interfacing with Dryad contents.
  version: 2.1.0
servers:
- url: https://datadryad.org/api/v2
  description: Main Dryad server
- url: https://sandbox.datadryad.org/api/v2
  description: Sandbox server, for testing new features.
tags:
- name: Internal
  description: Internal APIs not of general interest to the public
paths:
  /processor_results/{id}:
    get:
      security:
      - bearerAuth: []
      summary: Get processor results for the ID given
      tags:
      - Internal
      description: Shows the processor results stored in the database for the given ID.
      parameters:
      - $ref: '#/components/parameters/processor_result_id'
      responses:
        '200':
          description: A JSON representation of processor results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/processor_result'
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getProcessorResultsById
      x-operation-id-source: derived
    put:
      security:
      - bearerAuth: []
      summary: Overwrite processor results for the ID given
      tags:
      - Internal
      description: Overwrite the processor results stored in the database for the given ID, resource_id, dates can't be manually changed
      parameters:
      - $ref: '#/components/parameters/processor_result_id'
      responses:
        '200':
          description: A JSON representation of processor results that were saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/processor_result'
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: putProcessorResultsById
      x-operation-id-source: derived
  /versions/{version_id}/processor_results:
    get:
      security:
      - bearerAuth: []
      summary: Get processor results for the version given
      tags:
      - Internal
      description: Shows the processor results stored in the database for the resource_id
      parameters:
      - $ref: '#/components/parameters/version_id'
      responses:
        '200':
          description: A JSON representation of processor results for the version ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/processor_results'
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getVersionsByVersionIdProcessorResults
      x-operation-id-source: derived
    post:
      security:
      - bearerAuth: []
      summary: Create processor results for the ID given
      tags:
      - Internal
      description: Create a new processor result in the database.
      parameters:
      - $ref: '#/components/parameters/processor_result_id'
      responses:
        '200':
          description: A JSON representation of processor results that were saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/processor_result'
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: postVersionsByVersionIdProcessorResults
      x-operation-id-source: derived
  /datasets/{doi}/related_works/{related_doi}:
    put:
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/related_type'
      summary: Update related works for a Dryad DOI
      tags:
      - Internal
      description: Adds or updates related works for a Dryad DOI.
      parameters:
      - $ref: '#/components/parameters/doi'
      - $ref: '#/components/parameters/doi'
      responses:
        '200':
          description: A JSON representation of the related work that was saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relatedWork'
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: putDatasetsByDoiRelatedWorksByRelatedDoi
      x-operation-id-source: derived
components:
  parameters:
    version_id:
      in: path
      name: id
      schema:
        type: integer
      required: true
      description: The version ID is a unique integer and can be obtained from the list of versions for a dataset.
    processor_result_id:
      in: path
      name: id
      schema:
        type: integer
      required: true
      description: The processor results ID for a single item.
    doi:
      in: path
      name: doi
      schema:
        type: string
      required: true
      description: 'DOI like doi:10.1000/18238577 that should be URL encoded (example: <code>doi%3A10.1000%2F18238577</code>)'
  schemas:
    processor_result:
      allOf:
      - properties:
          id:
            type: integer
            example: 27
          resource_id:
            type: integer
            example: 48
          processing_type:
            type: string
            enum:
            - excel_to_csv
            - compressed_info
            - frictionless
            example: excel_to_csv
          parent_id:
            type: integer
            example: 747
          completion_state:
            type: string
            enum:
            - not_started
            - processing
            - success
            - error
            example: success
          message:
            type: string
            example: Completed processing with no errors.
          structured_info:
            type: string
            example: '{"cat": "dog"}'
          created_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time
    relatedWork:
      properties:
        relationship:
          format: string
          enum:
          - article
          - dataset
          - preprint
          - software
          - supplemental_information
          - primary_article
          - data_management_plan
        identifierType:
          type: string
        identifier:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
    related_type:
      type: object
      properties:
        work_type:
          format: string
          enum:
          - article
          - dataset
          - preprint
          - software
          - supplemental_information
          - primary_article
          - data_management_plan
          example: article
    processor_results:
      type: array
      items:
        $ref: '#/components/schemas/processor_result'
  responses:
    unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: unauthorized
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Not Found
    Unacceptable:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: '406 - unacceptable: please set your `Content-Type` or `Accept` headers for application/json. `Accept` header is optional if you are using `Content-Type: application/json`.'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
